.full-image{
    position: relative;
    height: 100vh;
    background-image: url("styles/k46jj04884l261015_2.jpg");
    background-size: cover;
    background-position: center;
}

.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity and color as needed */ 
    z-index: 1; 
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 50%; /* Ensures the text wraps within this container */
    word-wrap: break-word; /* Ensures long words break to fit within the container */
}

.mainText {
    margin-top: 70px;
    color: black; /* Adjust the color as needed */
    font-size: 3.5em; /* Adjust the font size as needed */
    font-family: 'Trebuchet MS', sans-serif;
}

.subText {
    color: black; /* Adjust the color as needed */
    font-size: 20px;
    font-family: 'Tilda Sans', sans-serif;
    font-weight: 100;
    margin-top: 10px;
    line-height: 1;
}

@font-face {
    font-family: 'Tilda Sans';
    src: url('styles/TildaSans-Light.woff') format('truetype');
}

.newDiv{
    position: relative;
    height: 50vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.fullDiv{
    position: relative;
    height: 120vh;
    background-color: #ebebeb;
    background-size: cover;
    background-position: center;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ZayavaDiv{
    position: relative;
    height: 120vh;
    background-color: #ebebeb;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.scrollDown {
    position: absolute;
    bottom: 50px;
    left: 49.3%;
    width: 25px;
    height: 25px;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
    animation: bounce 2s infinite; /* Apply animation */
}

@keyframes bounce {
    0%, 100% {
        transform: rotate(45deg) translateY(0); /* Maintain both translate and rotate */
    }
    50% {
        transform: rotate(45deg) translateY(-10px) translateX(-10px); /* Adjust Y-axis bounce */
    }
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    display: inline-block;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 5px;
}

.custom-input {
    width: 80vh; /* Width of the input box */
    height: 40px; /* Height of the input box */
    padding: 10px; /* Padding inside the input box */
    border: 1px solid #000000; /* Border style */
    border-radius: 2px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    margin-bottom: 4vh;
}

.custom-input:focus {
    border-color: #444; /* Optional: Change border color on focus */
    box-shadow: none; /* Remove focus glow */
}

.popup {
    position: fixed;
    top: 20px;
    right: -300px; /* Off screen initially */
    background-color: #4caf50;
    color: white;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-out;
    z-index: 3;
}

.popup.show {
    right: 20px; /* Slide in */
}

.popup.hide {
    right: -300px; /* Slide out */
}

.navbar {
    position: relative;
    width: 100%;
    height: 50vh;
    backdrop-filter: blur(10px);
    background: rgba(177, 177, 177, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 5vh;
}
.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 32px;
    font-family: "Tilda Sans", sans-serif;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 0;
}
.navbar a:hover {
    background-color: #333;
    color: #fff;
}

body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}   

main {
    padding: 2rem;
}

.product-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    max-width: 200px;
}

.button {
    margin-top: 110vh; /* Adds space between the last input and the button */
    padding: 40px;
    border-radius: 15px;
    background-color: #5ea4df;
    color: white;
    border: none;
    cursor: pointer;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-family: "Tilda Sans", sans-serif; /* change font family */
    font-size: 18px; /* change font size */
    letter-spacing: 2px; /* change letter spacing */
}

.button:after {
    content: "Отправить заявку";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.button_whatsapp {
    position: relative;
    z-index: 2;
    padding: 0;
    width: 50px; /* Set width and height to make it square */
    height: 50px;
    background-image: url('styles/whatsapp_icon1webp.webp');
    background-size: 150%;
    background-position: center;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    margin: 20px; /* Add space between screen borders */
}

.button_whatsapp:hover {
    background-color: #7979ed;
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        width: 80%; /* Ensures the text wraps within this container */
        word-wrap: break-word; /* Ensures long words break to fit within the container */
    }

    .mainText {
        color: white; /* Adjust the color as needed */
        font-size: 2.5em; /* Adjust the font size as needed */
        font-family: 'Trebuchet MS', sans-serif;
    }   
    

} 

@media screen and (min-width: 280px) and (max-width: 470px) {

    body {
        font-size: 16px;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        width: 80%; /* Ensures the text wraps within this container */
        word-wrap: break-word; /* Ensures long words break to fit within the container */
    }

    .text-containerZayava {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        width: 80%; /* Ensures the text wraps within this container */
        word-wrap: break-word; /* Ensures long words break to fit within the container */
    }

    .mainText {
        margin-top: 30px;
        color: black; /* Adjust the color as needed */
        font-size: 2em; /* Adjust the font size as needed */
        font-family: 'Trebuchet MS', sans-serif;
    }

    .subText {
        color: black; /* Adjust the color as needed */
        font-size: 1.15em;
        font-family: 'Tilda Sans', sans-serif;
        font-weight: 100;
        margin-top: 5px;
        line-height: 1;
    }

    .full-image{
        position: relative;
        height: 95vh;
        background-image: url('styles/k46jj04884l261015_2.jpg');
        background-size: cover;
        background-position: center;
    }

    .newDiv{
        position: relative;
        height: 70vh;
        background-color: white;
        background-size: cover;
        background-position: center;
    }

    .fullDiv{
        position: relative;
        height: 160vh;
        background-color: #ebebeb;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .ZayavaDiv{
        position: relative;
        height: 115vh;
        background-color: #ebebeb;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .custom-input {
        width: 80vw; /* Width of the input box */
        height: 40px; /* Height of the input box */
        padding: 10px; /* Padding inside the input box */
        border: 1px solid #000000; /* Border style */
        border-radius: 2px; /* Rounded corners */
        outline: none; /* Remove default focus outline */
        margin-bottom: 4vh;
    }

    .scrollDown {
        position: absolute;
        bottom: 50px;
        left: 47%;
        width: 25px;
        height: 25px;
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        cursor: pointer;
        z-index: 3;
        animation: bounce 2s infinite; /* Apply animation */
    }

    .button {
        margin: 105vh auto 0 auto; /* Adds space between the last input and the button */
        padding: 25px;
        border-radius: 10px;
        background-color: #5ea4df;
        color: white;
        border: none;
        cursor: pointer;
        width: 200px;
        text-align: center;
        justify-content: center;
    }

    .navbar a {
        text-decoration: none;
        color: #333;
        font-size: 26px;
        font-family: "Tilda Sans", sans-serif;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
        margin-bottom: 0;
    }
    
}
